@import "reset.css";
html{
    box-sizing:border-box;
}

body{
    padding : 30px 10px;
    background-color: black;
    color : white;
    font-family: 'Yeon Sung', cursive;
}

header{
    padding-top: 30px;
    padding-bottom : 30px;
    text-align: center;
    background-color: black;
    font-size: 70px;
}
.container{
    position: relative;
    display:flex;
    text-align: center;
    right : 0;
}


.nav-box{
    margin: 10px;
    margin-left: 40px;
    font-family: inherit;
    font-size: 30px;
    transition: all 0.2s linear;
}

.nav-box:hover{
    background-color: rgb(3, 13, 102);
    transform: scale(1.2, 1.2);
}

a{
    color: white;
}

.home{
    display: flex;
}
.welcome{
    padding-left: 300px;
    margin-top: 100px;
}

.welcome>p{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 50px;
}

.first{
    white-space: nowrap;
    overflow: hidden;    
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

.second{
    white-space: nowrap;
    overflow: hidden;    
    animation: animated-text 2s steps(30,end) 2s 1 normal both;
}

.third{
    white-space: nowrap;
    overflow: hidden;    
    animation: animated-text 2s steps(30,end) 4s 1 normal both;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
}

.about{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 300px;
}
.about1, .about2, .about3{
    display:flex;
}

.about_p{
    margin: 50px 20px;
    font-size: 25px; 
    text-decoration: none;
    display: inline-block;
    padding: 15px 0;
    position: relative;   
}

  .about_p:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffb000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .about_p:hover:after { 
    width: 100%; 
    left: 0; 
  }

.contact{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 50px;
}

footer{
    margin-left: 85%;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom : 0px;
    font-size: 40px;
    margin-bottom: 20px;
}

.foot{
    margin: 10px;
    font-family: neon;
    color: #FB4264;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

.mypic{
    margin : 30px;
    width:400px;
    border-radius: 5%;
}

.contact{
    margin-top: 60px;
    margin-left: 200px;;
}


@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }

  @keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.card{
    width:800px;
}