@import "reset.css";
html{
    box-sizing:border-box;
}

body{
    background-color: black;
    color : white;
    font-family: 'Yeon Sung', cursive;
}

header{
    padding-top: 30px;
    padding-bottom : 30px;
    text-align: center;
    background-color: black;
    font-size: 70px;
}
.container{
    position: relative;
    display:flex;
    text-align: center;
    right : 0;
}

.nav-box{
    margin: 10px;
    margin-left: 40px;
    font-family: inherit;
    font-size: 30px;
}

a{
    color: white;
}

.home{
    display: flex;
}
.welcome{
    margin-top: 60px;
}

.welcome>p{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 50px;
}

.first{
    white-space: nowrap;
    overflow: hidden;    
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

.second{
    white-space: nowrap;
    overflow: hidden;    
    animation: animated-text 2s steps(30,end) 2s 1 normal both;
}

.third{
    white-space: nowrap;
    overflow: hidden;    
    animation: animated-text 2s steps(30,end) 4s 1 normal both;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
}

.about{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 50px;
}
.contact{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 50px;
}

footer{
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom : 0vh;
    font-size: 30px;
}

.foot{
    margin: 10px;
}

.mypic{
    margin : 30px;
    background-size: cover;
    height:70vh;
    border-radius: 5%;
}

.contact{
    margin-top: 60px;
    margin-left: 200px;;
}